.statistics{
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px -2px 32px 1px rgba(0, 0, 0, 0.69);
    font-size: 20px;
    background-color: #ffffff;
    max-width: 450px;

}
.title{
    margin: 30px auto;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #7a7b77;
}

.statList{
    display: flex;
    width: 100%;
    border-top: 1px solid  rgba(196,201,204, 0.3);
    background-color: #f5f4fa;
}

.item{
    width: calc(100% / 5);
    padding: 20px 10px;
    text-align: center;
}
.item:not(:last-child) {
    border-right: 1px solid rgba(196,201,204, 0.3);
  }
  
.label{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    color: #ffffff;
    
}

.percentage{
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
}