.item {
    display: flex;
    align-items: center;
    margin: 10px auto;
    max-width: 450px;
    border-radius: 5px;
    box-shadow: 0px -2px 32px 1px rgba(0, 0, 0, 0.69);
    
  }
  .avatar{
    margin: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
  }
  .status {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 20px;
  }
  .name {
    font-size: 26px;
    font-weight: 500;
  }

.online {
    composes: status;
    background-color: green;
  }
  .offline {
    composes: status;
    background-color: red;
  }
