.transactionHistory{
    margin: 40px auto;
    border-collapse: collapse;
    width: 600px;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    
}
.thead {
    color: white;
    text-transform: uppercase;
    border: 1px solid lightgray;
    background-color: aqua;
    
  }

th, td {
    border: 1px solid grey;
    padding: 10px 15px;
    min-width: 300px;
    border: 1px solid lightgray;
 }
 
tr:nth-child(even) {
    background-color:#e9e9e9;
  } 

th:not(:last-child) {
    border-right: 1px solid white;
  }
